In [ ]:
# Pandas Dataframe 
# Data frame is use full with row and column in structuted way
#1. creating the pandas dataframe 
    # can be created from list , nparray , dictionary
import pandas as pd
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
l3 = [11,12,13,14]
df = pd.DataFrame(l1) # creates from lists 

print(df)

    0
0  11
1  12
2  13
3  14

In [19]:
# when creating from dict each key became the name of the column 
dicts = {"name":["leli", "kena","james","maother"] , 
         "age" :[5,6,7,8] , 
         "grade" :[11,22,33,44]}

df = pd.DataFrame( dicts, index=[x for x in range(1,len(dicts["name"])+1)])
print(df)

      name  age  grade
1     leli    5     11
2     kena    6     22
3    james    7     33
4  maother    8     44

In [22]:
import pandas as pd

# Initialize data to Dicts of series.
d = {'one': pd.Series([10, 20, 30, 40],
                      index=['a', 'b', 'c', 'd']),
     'two': pd.Series([10, 20, 30, 40],
                      index=['a', 'b', 'c', 'd'])}

# creates Dataframe.
df = pd.DataFrame(d)

print(df)

   one  two
a   10   10
b   20   20
c   30   30
d   40   40

In [25]:
# Pandas Dataframe indexing 
import pandas as pd

data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
        'Age': [25, 30, 22, 35, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
        'Salary': [50000, 55000, 40000, 70000, 48000]}

df = pd.DataFrame(data, index= ['1','2','3','4','5'])
print(df.index)  # Accessing the index

Index(['1', '2', '3', '4', '5'], dtype='object')

In [ ]:
# i Can make the custom index from the key and values of dict 
# using set_index() function 
import pandas as pd

data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
        'Age': [25, 30, 22, 35, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
        'Salary': [50000, 55000, 40000, 70000, 48000]}

df = pd.DataFrame(data, index= ['1','2','3','4','5'])
df = df.set_index('Name')
print(df)

         Age  Gender  Salary
Name
John      25    Male   50000
Alice     30  Female   55000
Bob       22    Male   40000
Eve       35  Female   70000
Charlie   28    Male   48000

In [31]:
# If you need to reset the index back to default integer index,
#  use reset_index() method. This will convert the current 
# index into a regular column and create a new default index

df = df.reset_index()
print(df)

   index     Name  Age  Gender  Salary
0      0     John   25    Male   50000
1      1    Alice   30  Female   55000
2      2      Bob   22    Male   40000
3      3      Eve   35  Female   70000
4      4  Charlie   28    Male   48000

In [ ]:
# pandas access dataframe 
'''Accessing a dataframe in pandas involves retrieving, 
exploring, and manipulating data stored within this structure'''

# 1.  Accessing the column data frame 
df = [[1,2,3], [4,5,6], [7,8,9]]
df = pd.DataFrame(df)
print(df[0])  # is for default columns

df = [[1,2,3], [4,5,6], [7,8,9]]
df = pd.DataFrame(df , columns= ["one", "two", "three"])
print(df["one"]) # when the columns has specific name

0    1
1    4
2    7
Name: one, dtype: int64

In [ ]:
# Accessing Rows by index using .loc[] and .iloc[] method 
# importing pandas as pd
import pandas as pd

# Creating the DataFrame
df = pd.DataFrame({'Weight': [45, 88, 56, 15, 71],
                   'Name': ['Sam', 'Andrea', 'Alex', 'Robin', 'Kia'],
                   'Age': [14, 25, 55, 8, 21]}, index= ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5'])

# Print the DataFrame
print("Original DataFrame:")
print(df)

# Corrected selection using loc for a specific cell
result = df.loc['Row_2', 'Name'] # the output is Andrea

# Print the result
print("\nSelected Value at Row_2, Column 'Name':")
print(result)

Original DataFrame:
       Weight    Name  Age
Row_1      45     Sam   14
Row_2      88  Andrea   25
Row_3      56    Alex   55
Row_4      15   Robin    8
Row_5      71     Kia   21

Selected Value at Row_2, Column 'Name':
Andrea

In [54]:
# we can select multiple rows and columns or rows or columns 
# importing pandas as pd
import pandas as pd

# Creating the DataFrame
df = pd.DataFrame({"A":[12, 4, 5, None, 1],
                "B":[7, 2, 54, 3, None],
                "C":[20, 16, 11, 3, 8],
                "D":[14, 3, None, 2, 6]})

# Create the index
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5']

# Set the index
df.index = index_

# Print the DataFrame
print("Original DataFrame:")
print(df)

# Corrected column names  in the result
result = df.loc[['Row_1','Row_2'],:] # every columns but the rows  row_1 and row_2 
result1 = df.loc['Row_1',:] # every columns but only the first row  
result2 = df.loc['Row_2':, :] # every columns and from row two to end both inclusive  
result3 = df.loc[:,:] # every both row and columns 
result4 = df.loc['Row_3':'Row_5',:] # every row and the columns is from b to end
result5 = df.loc[:'Row_2',:]  # every coulmns but the rows  are from the beg to Row_2 

# Corrected rows names  in the result
result = df.loc[:, ['A', 'D']] # every row but the columns from a and d 
result1 = df.loc[:,"A":"C"] # every row but the columns from a to c including c 
result2 = df.loc[:, "A"] # every row and one column called a 
result3 = df.loc[:,:] # every both row and columns 
result4 = df.loc[:,"B":] # every row and the columns is from b to end
result5 = df.loc[:,:"C"]  # every row but the columns are from the beg to c 
# Print the result
print("\nSelected Columns 'A' and 'D':")
print(result)

print("\nSelected Columns 'A' to 'C':")
print(result1)

print("\nSelected Column A:")
print(result2)

print("\nSelected Columns and row :")
print(result3)

Original DataFrame:
          A     B   C     D
Row_1  12.0   7.0  20  14.0
Row_2   4.0   2.0  16   3.0
Row_3   5.0  54.0  11   NaN
Row_4   NaN   3.0   3   2.0
Row_5   1.0   NaN   8   6.0

Selected Columns 'A' and 'D':
          A     D
Row_1  12.0  14.0
Row_2   4.0   3.0
Row_3   5.0   NaN
Row_4   NaN   2.0
Row_5   1.0   6.0

Selected Columns 'A' to 'C':
          A     B   C
Row_1  12.0   7.0  20
Row_2   4.0   2.0  16
Row_3   5.0  54.0  11
Row_4   NaN   3.0   3
Row_5   1.0   NaN   8

Selected Column A:
Row_1    12.0
Row_2     4.0
Row_3     5.0
Row_4     NaN
Row_5     1.0
Name: A, dtype: float64

Selected Columns and row :
          A     B   C     D
Row_1  12.0   7.0  20  14.0
Row_2   4.0   2.0  16   3.0
Row_3   5.0  54.0  11   NaN
Row_4   NaN   3.0   3   2.0
Row_5   1.0   NaN   8   6.0

In [ ]:
# we can use at[] and iat[] for find the specific value 
df.at[2,"salary"] # the output will be the third row and the columns called salary intersection 
df.iat[2,0] # using the position for find the values